@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
body {
  @apply bg-gradient-to-br from-indigo-600 via-purple-600 to-pink-500 text-white;
  font-family: 'Inter', sans-serif;
}
